html {
  scroll-behavior: smooth; }

.background-image {
  background-image: url("/img/gameController.jpg");
  background-color: rgba(240, 240, 240, 0.7) !important;
  background-blend-mode: color;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.background-gradient {
  background-image: linear-gradient(to bottom, AliceBlue, White, AliceBlue); }

.navbar {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  background-color: AliceBlue; }

.navbar-icon-img {
  height: 55px;
  width: auto; }

.navbar-icon-font {
  font-size: 2.0rem;
  color: #D23F2F; }

.navbar-brand {
  font-size: 2.0rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
  text-align: left;
  align-self: center; }

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500; }

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  color: CornflowerBlue;
  margin: .5rem 0 .5rem 0; }

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  font-family: "Quicksand", sans-serif;
  color: #D23F2F;
  margin: .8rem 0 .5rem 0; }

h3 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #0C457D; }

p {
  font-family: "Open Sans", sans-serif; }

main {
  margin: 2rem; }

section {
  padding-top: 35px; }

a {
  color: rgba(50, 50, 50, 0.8);
  text-decoration: none; }

a:hover {
  color: #0a0a0a;
  text-decoration: none; }

ul {
  list-style: none; }

.gradient-text {
  background-image: linear-gradient(120deg, #D23F2F, CornflowerBlue);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

.center {
  text-align: center; }

.project-card {
  padding: 1rem;
  margin: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem; }

.project-card:hover {
  background-color: #EEEEEE;
  text-decoration: none; }

.card-title {
  text-align: center;
  font-size: 2em;
  font-family: "Quicksand", sans-serif;
  color: #0C457D; }

.card-title-md {
  text-align: center;
  font-size: 1.8em;
  font-family: "Quicksand", sans-serif;
  color: #0C457D; }

.card-text {
  font-size: 1.1rem;
  text-align: center; }

.card-text-md {
  font-size: 1rem;
  text-align: center; }

.container-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px; }

.grid-item {
  padding: 10px;
  border: 1px solid CornflowerBlue;
  border-radius: 0.5rem;
  background-color: AliceBlue; }

.grid-item:hover {
  background-color: CornflowerBlue; }

.grid-item:active {
  background-color: #AAAAAA; }

.construction {
  font-size: 5rem;
  color: #D23F2F; }

.construction-icon {
  font-size: 4rem;
  color: #F0AD4E; }

footer {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  justify-content: center;
  background-color: AliceBlue; }

.social {
  font-size: 2.5rem;
  text-align: center;
  text-justify: center;
  padding: 1.5rem; }

.copyright {
  font-size: 1rem;
  text-align: center;
  text-justify: center;
  color: #AAAAAA;
  margin: 15px 0 10px 0; }

@media screen and (max-width: 1200px) {
  .navbar-brand {
    font-size: 1.75rem; }
  .nav-link {
    font-size: 1.15rem; } }

@media screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 1.3rem; }
  .nav-link {
    font-size: 1rem; }
  .project-card {
    padding: 0.5rem; }
  .card-title {
    font-size: 1.8rem; }
  .card-title-md {
    font-size: 1.6rem; } }

@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.3rem; }
  .card-title {
    font-size: 1.6rem; }
  .card-title-md {
    font-size: 1.4rem; }
  .card-text {
    font-size: 1rem; }
  .card-text-md {
    font-size: 0.9rem; }
  .social {
    font-size: 2rem;
    padding: 1rem; } }
