$font-title: 'Merriweather Sans', sans-serif;
$font-header: 'Quicksand', sans-serif;
$font-normal: 'Open Sans', sans-serif;
$font-game: 'Press Start 2P', sans-serif;
$color-primary1: CornflowerBlue;
$color-primary2: AliceBlue;
$color-primary3: #D23F2F;
$color-primary4: #0C457D;
$color-primary5: #AAAAAA;
$color-primary6: #EEEEEE;
$color-primary7: #565656;
$color-primary8: #75b061;
$color-navbar: AliceBlue;
$color-background-middle: White;
$color-warning: #F0AD4E;
$color-link:rgba(50,50,50,0.8);
$color-link-hover:rgba(10,10,10,1);
$card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

html {
  scroll-behavior: smooth;
}

.background-image {
  background-image: url("/img/gameController.jpg");
  background-color: rgba(240, 240, 240, 0.7) !important;
  background-blend-mode: color;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-gradient {
  background-image: linear-gradient(to bottom, $color-navbar, $color-background-middle, $color-navbar);
}

.navbar {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  background-color: $color-navbar;
}

.navbar-icon-img {
  height: 55px;
  width: auto;
}

.navbar-icon-font {
  font-size: 2.0rem;
  color: $color-primary3;
}

.navbar-brand {
  font-size: 2.0rem;
  font-family: $font-title;
  font-weight: 900;
  text-align: left;
  align-self: center;
}

.nav-link {
  font-family: $font-normal;
  font-size: 1.25rem;
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  font-family: $font-header;
  color: $color-primary1;
  margin: .5rem 0 .5rem 0;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  font-family: $font-header;
  color: $color-primary3;
  margin: .8rem 0 .5rem 0;
}

h3 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
  font-family: $font-header;
  color: $color-primary4;
}

p {
  font-family: $font-normal;
}

main {
  margin: 2rem;
}

section {
  padding-top: 35px;
}

a {
  color: $color-link;
  text-decoration: none;
}

a:hover {
  color: $color-link-hover;
  text-decoration: none;
}

ul {
  list-style: none;
}

.gradient-text {
  background-image: linear-gradient(120deg, $color-primary3, $color-primary1);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.center {
  text-align: center;
}

.project-card {
  padding: 1rem;
  margin: 0.4rem;
  box-shadow: $card-shadow;
  border-radius: 0.5rem;
}

.project-card:hover {
  background-color: $color-primary6;
  text-decoration: none;
}

.card-title {
  text-align: center;
  font-size: 2em;
  font-family: $font-header;
  color: $color-primary4;
}

.card-title-md {
  text-align: center;
  font-size: 1.8em;
  font-family: $font-header;
  color: $color-primary4;
}

.card-text {
  font-size: 1.1rem;
  text-align: center;
}

.card-text-md {
  font-size: 1rem;
  text-align: center;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.grid-item {
  padding: 10px;
  border: 1px solid $color-primary1;
  border-radius: 0.5rem;
  background-color: $color-primary2;
}

.grid-item:hover {
  background-color: $color-primary1;
}

.grid-item:active {
  background-color: $color-primary5;
}
.construction {
  font-size: 5rem;
  color: $color-primary3;
}

.construction-icon {
  font-size: 4rem;
  color: $color-warning;
}

footer {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  justify-content: center;
  background-color: $color-navbar;
}

.social {
  font-size: 2.5rem;
  text-align: center;
  text-justify: center;
  padding: 1.5rem;
}

.copyright {
  font-size: 1rem;
  text-align: center;
  text-justify: center;
  color: $color-primary5;
  margin: 15px 0 10px 0;
}

@media screen and (max-width: 1200px) {
  .navbar-brand {
    font-size: 1.75rem;
  }
  .nav-link {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .project-card {
    padding: 0.5rem;
  }
  .card-title {
    font-size: 1.8rem;
  }
  .card-title-md {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
  .card-title {
    font-size: 1.6rem;
  }
  .card-title-md {
    font-size: 1.4rem;
  }
  .card-text {
    font-size: 1rem;
  }
  .card-text-md {
    font-size: 0.9rem;
  }
  .social {
    font-size: 2rem;
    padding: 1rem;
  }
}